*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  display: flex;
  justify-content: center;
}
.App-header {
  background-color: #093691;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cypherArray {
  justify-content: center;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 1s;
}
.quoteAuthor {
  justify-content: center;
  text-align: right;
  font-size: 1em;
}

#quote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  width: 50vw;
  height: max-content;
  border-radius: 50px 10px;
  padding: 2rem;
  background-color: #fff;
}

#buttonsBlock {
  width: 100%;
  display: flex;
  align-items: center;
}

#btn-quote {
  white-space: nowrap;
  border-radius: 2px 50px;
  padding: 0.8rem;
  border: none;
  outline: none;
}
#share-buttons {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
}
@media only screen and (max-width: 34.3755em) {
  #share-buttons {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.button-padding:hover {
  opacity: 0.5;
}
.opacity-hide {
  transition: 1s ease-in-out;
  transition-property: "opacity";
  opacity: 0;
}
.opacity-show {
  transition: 1s ease-in-out;
  opacity: 1;
}

.new-quote {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 43.75em) {
  .new-quote {
    margin-right: 0;
  }
}

.fade {
  animation: fade-in-keyframes 1.5s;
  animation: fade-out-keyframes 1.5s;
}
@keyframes fade-in-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.row {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  align-items: center;
  align-content: center;
  height: 100%;
}
@media only screen and (max-width: 34.3755em) {
  .row {
    flex-direction: column;
    justify-content: center;
  }
}
