* {
  margin: 1px;
  padding: 1px;
  list-style: none;
  vertical-align: baseline;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #093691;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.quoteBox {
  background-color: #093691;
  font-family: "Raleway", sans-serif;
  font-weight: 400;

  margin: auto;
}
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 1s;
}
.quoteAuthor {
  justify-content: center;
  text-align: right;
  font-size: 1em;
}

#quote-box {
  font-size: 1em;
  position: relative;
  display: table;
  width: 50vw;
  height: 30vh;
  border-radius: 50px;
  padding: 20px 20px;
  text-align: center;
  background-color: #fff;
}

#tweet-quote {
  justify-content: center;
}

#buttonsBlock {
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 80px;
}

#share-buttons {
  margin: auto;
  text-align: left;
}
.button-padding {
  padding: 1.5px;
}
.button-padding:hover {
  opacity: 0.5;
}
.opacity-hide {
  transition: 1s ease-in-out;
  transition-property: "opacity";
  opacity: 0;
}
.opacity-show {
  transition: 1s ease-in-out;
  opacity: 1;
}
#new-quote {
  margin: auto;
  text-align: end;
  margin-bottom: 10px;
}
#center {
  padding: 70px 0;
  align-items: flex-end;
}
.fade {
  animation: fade-in-keyframes 1.5s;
  animation: fade-out-keyframes 1.5s;
}
@keyframes fade-in-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
